.notification-container {
  position: absolute;
  bottom: 0;
  left: -50%;

  width: 200px;
  height: 30px;
  padding-top: 5px;

  background-color: rgb(124, 110, 110);
  animation: showNotification 3s none;
}

.notification-message {
  width: 90%;
  height: 80%;
  margin: auto;
  font-size: 15px;
  font-family: Questrial;
  color: white;
  background: none;
}
.success {
  width: 100%;
  height: 20%;
  background-color: rgb(51, 144, 51);
}

.error {
  width: 100%;
  height: 20%;
  background-color: rgb(204, 24, 24);
}

.info {
  width: 100%;
  height: 20%;
  background-color: rgb(198, 218, 24);
}
@keyframes showNotification {
  0% {
    left: -50%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 0;
  }
}
